.blog-background {
  padding-top: 100px;
  background: url('https://images.pexels.com/photos/2989727/pexels-photo-2989727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

}

