
.main-home{
    background-image: url('https://1.bp.blogspot.com/-0mV9UfJhXNE/XD930chJlQI/AAAAAAAAAuM/x_DPVMFGf94err7Wznmm4l0XzC74VIPNwCKgBGAs/w0/hi-tech-interface-abstract-9-4k.jpg');
}

.backgroundImage{
    background: url('https://images.pexels.com/photos/1366957/pexels-photo-1366957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}