.my-trash {
  position: absolute;
  right: 20px;
  color: rgb(235, 55, 10);
}

.my-edit-icon {
  color: rgb(29, 248, 9);
  padding-top: 3px;
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.my-article-cards{
  opacity: .9;
}
.my-edit-icon:hover{
  transform: scale(1.3);
}
.my-trash-icon:hover{
  transform: scale(1.3);
}
.my-trash-icon{
  cursor: pointer;
}